.App {
    --header_height: 60px;
    display: flex;
    justify-content: center;
}

.hw {
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hwTitle {

}